html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    /* border: solid 1px #d31e69; */
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Geist Mono", monospace;
    /* font-size: clamp(0.8rem, 1vw, 1.2rem); */
    font-optical-sizing: auto;
    background: #ffebd3;
}

.barra-navegacion {
    background-color: #ff5c43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 75px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    transition: background-color 0.5s linear;
}

.barra-navegacion a {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.25s ease;
}

.barra-navegacion a:hover {
    transform: scale(1.05);
}

/* Barra de navegacion para moviles */
.menu-telefono {
    display: none;
    position: sticky;
    top: 0px;
    align-items: end;
    justify-content: space-between;
    z-index: 1001;
    transition: background-color 0.5s linear;
}

.menu-telefono a, .menu-telefono button {
    margin: 10px;
}

.btn-menu-lateral {
    background: none;
    border: none;
    transition: transform 0s linear;
    cursor: pointer;
}

.menu-telefono > a {
    transition: transform 0.23s ease;
}

.menu-telefono > a:hover {
    transform: scale(1.05);

}

.btn-menu-lateral:active {
    transform: scale(0.9);
}

.barra-navegacion-aside {
    background-color: #ff5c43;
    display: none;
    flex-direction: column;
    width: 200px;
    height: 100dvh;
    padding: 10px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    transition: background-color 0.5s linear;
}

.enlaces-aside {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.barra-navegacion-aside a {
    display: inline-block;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.25s ease;
}

.barra-navegacion-aside a:hover {
    transform: scale(1.05);
}

.activar-color-barra-navegacion{
    background-color: #084386;
}

.activar-color-menu-telefono{
    background-color: #ffffff90;
}

.activar-menu-lateral {
    display: flex;
}

.nombre-tienda {
    text-align: center;
    font-size: 1.5rem;
}

.contenedor {
    /* background-image: linear-gradient(to bottom right, orange, white); */
    max-width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 10px;
}

.contenedor-texto {
    max-width: 100%;
    text-align: justify;
    font-size: 1.3rem;
}

.contenedor-texto:first-child p {
    margin-top: 0px;
    padding: 10px;
}

.contenedor-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.contenedor-imagen  img {
    width: min(100%, 500px);
}

/* Seccion Promociones */

.seccion-promociones {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    background-color: #084386;
    max-width: 100%;
}

.grupo-promociones {
    display: flex;
    overflow: hidden;
}

.promociones {
    display: flex;
    flex: 0 0 100%;
    padding-right: 10px;
    gap: 10px;
    animation: carrusel 10s linear infinite;
}

@keyframes carrusel {
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
}

.grupo-promociones:hover .promociones {
    animation-play-state: paused;
}

.promociones img {
    width: calc(100%/4);
    background-color: #ffeeda;
    height: 400px;
    border-radius: 24px;
    transform: scale(0.9);
    transition: transform 0.5s;
}

.promociones img:hover {
    transform: scale(1);
}
/* Seccion Contacto */

.seccion-contacto-direccion {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    background-color: #084386;
}

.contacto-direccion {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.titulo-seccion {
    font-size: 1.3em;
    color: white;
    text-align: center;
}

.form-contacto {
    width: 50%;
    display: flex;
    flex-direction: column;
}


iframe {
    width: 50%;
}

span {
    color: #de224b;
}

label, button[type="submit"], .form-contacto p  {
    color: white;
    font-weight: bold;
    font-style: italic;
}

input[type="text"], input[type="email"], textarea {
    height: 50px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 2px solid #084386;
    border-radius: 5px;
    text-align: justify;
    font-size: 1rem;
    font-family: "Geist Mono", monospace;
    transition: border-color 0.5s ease-in;
}

input[type="text"]:invalid:focus, input[type="email"]:invalid:focus, textarea:invalid:focus {
    outline: none;
    border: solid 3px;
    border-color: #de224b;
}

input[type="text"]:valid, input[type="email"]:valid, textarea:valid {
    outline: none;
    border: solid 3px;
    border-color: #00c853;
}

button[type="submit"] {
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(to left,#de224b, #ff631b);
    transition: transform 0.5s;
}

button[type="submit"]:hover {
    transform: scale(0.98);
    cursor: pointer;
}

textarea {
    height: 100px;
    resize: none;
    /* field-sizing: content; */
}

address {
    display: inline;
}

footer {
    padding: 1rem;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
}

/* Tableta */
@media (min-width: 481px) and (max-width: 1024px) {

    .contenedor {
        grid-template-columns: 1fr;
    }
    .promociones img {
        width: auto;
    }
}
/* Telefono */
@media (max-width: 767px) {

    .contenedor {
        grid-template-columns: 1fr;
    }

    .barra-navegacion {
        display: none;
    }

    .menu-telefono {
        display: flex;
    }

    .contenedor-texto {
        font-size: 1.2rem;
    }

    .contacto-direccion{
        flex-direction: column;
    }

    iframe {
        width: initial;
        max-width: 100%;
        min-height: 400px;
    }

    .form-contacto{
        width: 100%;
    }

    .promociones img {
        width: auto;
    }

}